{{! Footer partial template}}
<footer id="footer-wsong">
	{{! .dynawidgets-area are the default containers for dynamic widget insertions}}
	<section class="dynawidgets-area" data-dynaarea_name="footer"></section>
	<section id="bottom-footer">
		<div>
			<section id="dynasocial-links"></section>
			<p id="bottom-copyright">© 2015, Willsong by <a href="#">Aftertype</a>. Powered by <a href="//ghost.org">Ghost</a>.</p>
		</div>
	</section>
</footer>