{{! Menu partial template}}
<nav id="top-menu-wsong">
	<div id="rss-subscribe-wsong" class="absolute-options-wsong">
		<a class="top-menu-link-wsong" href="{{@blog.url}}/rss/"><span class="fa fa-rss"></span> Subscribe</a>
	</div>
	<div id="back-home-wsong" class="absolute-options-wsong">
		<a class="top-menu-link-wsong" href="/"><span class="fa fa-chevron-left"></span> Home</a>
	</div>
	{{navigation}}
</nav>